.products {
    background-color: #1C1E22;
    border-radius: 0.5rem;
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    align-items: center;
  }
  
  .image-div {
    margin-right: 1rem;
  }
  
  .image {
    width: 100px;
    height: 70px;
  }
  
  .hidden {
    margin-top: 0.5rem;
  }
  
  .button-div {
    display: flex;
    margin-top: 0.5rem;
  }
  
  .buy-button {
    cursor: pointer;
    margin-right: 0.5rem;
    border: none;
    outline: none;
    width: 45px;
    height: 35px;
    border-radius: 0.3rem;
    background-color: #777777;
    color: white;
  }
  
  .buy-button:hover {
    background-color: #4B5155;
  }
  
  .price-text {
    margin-top: 0.3rem;
  }
  
  @media only screen and (max-width: 290px) {
    .button-div {
      display: flex;
      flex-direction: column;
    }
  
    .products {
      padding: 1rem;
    }
    
    .image {
      width: 70px;
      height: 50px;
    }
  }